<ion-content>
  <ion-toolbar mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" mode='ios'></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <!-- <ion-button>
        <ion-button color='primary' (click)="startApp()">SALTAR</ion-button>
      </ion-button> -->
    </ion-buttons>

    <ion-title>Recomienda productos</ion-title>
  </ion-toolbar>
  <div class="content">
    <h2>¡Recomienda tu producto favorito!</h2>
    <p style="text-align: center;">Todos hemos tenido un amigo o familiar que tiene un puesto de comida muy sabrosa y
      hemos querido ayudarlos a promocionar su producto, con RECOMIENDO lo vamos a poder hacer, lo mejor de todo es
      que
      vas a ganar puntos los cuales te servirán para canjearlos por premios.</p>

    <img src="assets/img/recomendar-lugares.png" />
    <ion-button class="finalUser" expand="block" shape="round" mode='ios'>
      ¡A RECOMENDAR!
    </ion-button>
  </div>
</ion-content>
