
<ion-content style="   
--background:linear-gradient(-90deg, #FFB300 0%, #FF5A31 100%);;
">
  <div class="contenedor">
    <div class="contenedor-logo">
      <h1>¡Cuéntanos tu experiencia y gana!</h1>
      <p>¡Califica tu pedido en <b>Bunny Food</b> y gana! Ayuda a mejorar el funcionamiento del local y sus productos.</p>
    </div>

    <div style="border-bottom: 1px solid white"></div>

    <div class="contenedor-lateral">
      <div class="caja-precio">
        <div class="slide-precio">
          <p> 
            <img src="assets/img/moneda.png" alt="">
            1200
          </p>
        </div>
      </div>
      <div class="imagen-moneda">
        <img src="assets/img/moneda4-calificacion.png" class="center-image" />
      </div>
      <div class="caja-pasos">
          <span class="contenedor-caja-pasos">
            <ion-icon style="font-size: 20px;" name="star"></ion-icon>
             4/4
          </span>
      </div>
    </div>

    <h2>Califica por tú experiencia</h2>



    <div class="carrousel1">
      <ion-slides  #slide>
        <ion-slide >
          <div style="overflow: hidden; position: relative;">
            <div class="slide-precio2">
              <p>15.000 $</p>
            </div>
            <div class="slide-titulo2">
              <p>hamburguesa ranchera</p>
            </div>
            <img src="assets/img/food1.png"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="overflow: hidden; position: relative;">
            <div class="slide-precio2">
              <p>8.000 $</p>
            </div>
            <div class="slide-titulo2">
              <p>pastelito criollo</p>
            </div>
            <img src="assets/img/food2.png"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="overflow: hidden; position: relative;">
            <div class="slide-precio2">
              <p>2.000 $</p>
            </div>
            <div class="slide-titulo2">
              <p>hamburguesa chilena</p>
            </div>
            <img src="assets/img/food3.png"/>
          </div>
        </ion-slide>
      </ion-slides>
    </div>



    <p class="subtitle">Atención</p>
    <div class="puntuacion">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <p  class="subtitle">Precio</p>
    <div class="puntuacion">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>



    <!-- <ion-button style="margin: 0 auto; padding: 0 1rem;  height: 60px;
  --border-radius: 23px;" class="finalUser" expand="block" shape="round" mode='ios'  (click)="goTo('/recomiendo-productos-paso1')">
      ¡A RECOMENDAR!
    </ion-button> -->

  </div>  
</ion-content>
