.cabezera {
  --background: linear-gradient(90deg, #ff2424 0%, #ffbb00 80%);
  background-repeat: round;
  height: 74px;
  border-radius: 0px 0px 20px 20px;
  position: relative;
}

.cabezera ion-title {
  letter-spacing: 0px;
  color: #ffffff;
}

.cabezera ion-button img {
  width: 35px;
  height: 35px;
}

.cabezera ion-button span {
  text-align: center;
  font: Bold 20px/25px Quicksand;
  letter-spacing: 0px;
  color: #ffffff;
}

.form-input {
  width: 90%;
  margin: 0 auto;
  background-color: #f3f3f3;
  height: 1.9rem;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12);
}

.icono {
  font-size: 1.4rem;
  margin-left: 0.7rem;
  margin-right: 0.5rem;
}

.conocerte {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.conocerte-titulo {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
}

.conocerte-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.conocerte-box-subtitulo {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.8125rem;
  color: #7c7c7c;
  opacity: 0.9;
}

.conocerte-box-imagen {
  display: flex;
  align-items: center;
}

.conocerte-box-imagen p {
  display: inline;
  font-size: 1.375rem;
  color: #ff6e12;
  margin: 0;
}

.conocerte-box-imagen img {
  margin-left: 0.5rem;
  width: 30px;
}

.conocerte-box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conocerte-box2-subtitulo2 {
  margin: 0;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.35;
}

.conocerte-box2-imagen2 {
  background: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.conocerte-tarjeta {
  margin-right: 1rem;
  margin-left: 1rem;
  background-image: linear-gradient(90deg, #ffb300 0%, #ff5a31 100%);
  padding: 0 0 1rem;
  border-radius: 20px;
}

.conocerte-menudia {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conocerte-menudia-titulo {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 0.2rem;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(0deg, black, transparent);
}

.slide-titulo {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 0.2rem;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(0deg, #ff2424, transparent);
}

.slide-titulo2 {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 0.2rem;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(0deg, #000, transparent);
}

.slide-precio {
  position: absolute;
  color: #fff;
  padding: 0.2rem;
  padding-right: 1.5rem;
  top: 1.2rem;
  border-radius: 0px 15px 15px 0;
  background-image: linear-gradient(190deg, #ffb300 0%, #ff5a31 100%);
}

.slide-precio p {
  margin: 0;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-precio img {
  width: 20px;
}

.barra-invertida {
  padding: 8px;
  border-radius: 9px;
  --background: #fff;
  --progress-background: linear-gradient(180deg, #ffbb00 0%, #ff2424 100%);
}

.contenedor-barra {
  transform: rotate(-90deg) translate(-2.5rem, 2.5rem);
  width: 70%;
}

.recomendaciones {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-titulo2 {
  color: #fff;
  width: 92%;
}

.slide-precio {
  position: absolute;
  color: #fff;
  padding: 0.2rem;
  padding-right: 1.5rem;
  top: 1.2rem;
  border-radius: 0px 15px 15px 0;
  background-image: linear-gradient(190deg, #ffb300 0%, #ff5a31 100%);
}

.slide-precio p {
  margin: 0;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-precio img {
  width: 20px;
}
